includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - modules/

    level: 5
    checkModelProperties: true
    noEnvCallsOutsideOfConfig: false
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - ./app/Traits/WithCustomLivewireException.php
        - ./app/Traits/SpotlightSearchable.php
