@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'lucide-static/font/lucide.css';
@config '../../tailwind.config.js';

/* Penguin UI Theme */
@theme {
    /* light theme */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-50);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-neutral-300);
    --color-outline-strong: var(--color-neutral-800);

    /* dark theme */
    --color-surface-dark: var(--color-neutral-950);
    --color-surface-dark-alt: var(--color-neutral-900);
    --color-on-surface-dark: var(--color-neutral-300);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-white);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-neutral-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-300);

    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-md);
}

@font-face {
    font-family: "lucide";
    src: url('lucide-static/font/lucide.eot'); /* IE9*/
    src: url('lucide-static/font/lucide.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("lucide-static/font/lucide.woff2") format("woff2"),
    url("lucide-static/font/lucide.woff") format("woff"),
    url('lucide-static/font/lucide.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('lucide-static/font/lucide.svg#lucide') format('svg'); /* iOS 4.1- */
}

/* Compatibility styles for Tailwind CSS v4 */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

/* PowerGrid Tables */
#pg-footer {
    @apply dark:bg-neutral-900!;
    @apply bg-white!;
}

#pg-header-export button {
    @apply dark:bg-neutral-900!;
    @apply dark:ring-neutral-700!;
    @apply bg-white!;
}

#pg-header-export div {
    @apply dark:bg-neutral-900!;
    @apply bg-white!;
    @apply dark:ring-neutral-700!;
}

[aria-label="Pagination Navigation"] div a {
    @apply dark:bg-neutral-900!;
    @apply bg-white!;
}

[aria-label="Pagination Navigation"] div span {
    @apply dark:bg-neutral-800!;
    @apply bg-white!;
    @apply rounded-xs!;
}

[aria-label="Pagination Navigation"] {
    @apply border border-white rounded-md!;
    @apply dark:border-neutral-700!;
}
